<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Add the link to the CSS stylesheet here -->
  <!-- Hint: the link is relative to the public folder -->
  <link rel="stylesheet" href="styles/main.css">
  <title>TODO LIST</title>
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <a href="/" class="logo">Todo<span id="title"> APP</span></a>
                <ul class="nav-links">
                    <li><a href="/" class="nav-link" id="today">Today</a></li>
                    <li><a href="/allTasks" class="nav-link" id="all">All Tasks</a></li>
                </ul>
                <ul class="nav-links">
                    <li><a href="/about" class="nav-link" id="about">About</a></li>
                    <li><a href="/contact" class="nav-link"id="contact">Contact</a></li>
                </ul>
            </div>
        </nav>

    </header>

    <main>