<%- include("partials/header.ejs") %>
<style>
    #contact{
        color: #007bff;
        text-decoration: underline;
    }
</style>
<h1>Contact Page
    
</h1>
<%- include("partials/footer.ejs") %>