/* Apply some basic styles to the body and HTML elements */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Create a flex container for the body to enable sticky footer */
body {
    display: flex;
    flex-direction: column;
}

/* Style the header with the navbar */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    height: 50px;
}

/* Style the container within the navbar */
.container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 960px;
    margin: 10px auto;
    padding: 0 20px;
}

/* Style the logo */
.logo {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
}

/* Style the navigation links */
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-link.active {
    color: #e61313; /* Change to your desired text color */
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

main {
    flex-grow: 1; /* Grow to fill remaining vertical space */
    padding: 20px; /* Adjust this to leave space for the footer */
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;
    height: 30px;
}

table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

#right-table{
    direction: rtl;
}

input[type="text"] {
    padding: 8px;
    width: 40%;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: row; /* Stack elements vertically */
    justify-content: center; /* Center items horizontally */
    margin-top: 20px;
}

#title{
    font-size: larger;
    color: #007bff;
}



